# This config is for a basic SV03, make sure to adjust and check everything again before you
# run something from the internet. 
# Ro use this config, the firmware should be compiled for the AVR
# atmega2560.

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]

[stepper_x]
step_pin: PF0
dir_pin: PF1
enable_pin: !PD7
microsteps: 16
rotation_distance: 40
endstop_pin: ^PE5
position_endstop: 0
position_max: 430
homing_speed: 60

[stepper_y]
step_pin: PF6
dir_pin: PF7
enable_pin: !PF2
microsteps: 16
rotation_distance: 40
endstop_pin: ^PJ1
position_endstop: 0
position_max: 430
homing_speed: 60

[stepper_z]
step_pin: PL3
dir_pin: !PL1
enable_pin: !PK0
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 450
position_min: -0.5

[extruder]
step_pin: PA4
dir_pin: !PA6
enable_pin: !PA2
microsteps: 16
rotation_distance: 7.680
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB4
sensor_type: ATC Semitec 104GT-2
sensor_pin: PK5
pullup_resistor: 4700
control: pid
pid_Kp: 31.147
pid_Ki: 2.076
pid_Kd: 116.803
min_temp: 15
max_temp: 300
min_extrude_temp: 170

[heater_bed]
heater_pin: PH5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PK6
#control: pid
#pid_Kp: 72.174
#pid_Ki: 1.816
#pid_Kd: 717.224
min_temp: 15
max_temp: 110

[filament_switch_sensor filament_runout]
switch_pin: PE4
pause_on_runout: True

[fan]
pin: PH6

[mcu]
serial: /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AG0KEPQJ-if00-port0

[printer]
kinematics: cartesian
max_velocity: 250
max_accel: 500
max_accel_to_decel: 250
square_corner_velocity: 5.0

[bltouch]
stow_on_each_sample: false
probe_with_touch_mode: false
sensor_pin: ^PD3
control_pin: PB5
pin_move_time: 0.68
pin_up_touch_mode_reports_triggered: false
x_offset: -35
y_offset: -11
#increase z offset to go closer to bed
#z_offset: 3.5
speed: 20
lift_speed: 15
samples: 2
sample_retract_dist: 3
samples_tolerance_retries: 3

[bed_mesh]
speed: 50
horizontal_move_z: 7.0
mesh_min: 30,30
mesh_max: 320,320
probe_count: 5,5
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: 0.2
split_delta_z: .025
move_check_distance: 7.0

[safe_z_home]                         
home_xy_position: 175, 175
speed: 100
z_hop: 10
z_hop_speed: 5.0

[bed_screws]
screw1: 50,50
screw2: 300,50
screw3: 300,300
screw4: 50,300

#[display]
#lcd_type: st7920
#cs_pin: PH1
#sclk_pin: PA1
#sid_pin: PH0
#encoder_pins: ^PC4, ^PC6
#click_pin: ^!PC2
